/* Basic jQuery Slider essential styles */

body ul.bjqs{position:relative; list-style:none;padding:0;margin:0;overflow:hidden; display:none;}
body li.bjqs-slide{position:absolute; display:none;}
body ul.bjqs-controls{list-style:none;margin:0;padding:0;z-index:9999;}
body ul.bjqs-controls.v-centered li a{position:absolute;}
body ul.bjqs-controls.v-centered li.bjqs-next a{right:0;}
body ul.bjqs-controls.v-centered li.bjqs-prev a{left:0;}
body ol.bjqs-markers{list-style: none; padding: 0; margin: 0; width:100%;}
body ol.bjqs-markers.h-centered{text-align: center;}
body ol.bjqs-markers li{display:inline;}
body ol.bjqs-markers li a{display:inline-block;}
body p.bjqs-caption{display:block;width:96%;margin:0;padding:2%;position:absolute;bottom:0;}